<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';">
   
    <title>Cadastro - Dito's System</title>

</head>

<body>
    <!-- Processo de renderização-->
    <script src = "../public/js/renderer.js"></script>

        <h1>Cadastro de Usuário</h1>   
        
        <form id="registerForm">
            <div>
                <input id="username" type="text" placeholder="Nome de usuário" required />
            </div>

            <div>
                <input id="password" type="password" placeholder="Senha" required />            
            </div>

            <div>
                <input id="confirm-password" type="password" placeholder="Confirme a senha" required />
            </div>

            <div>
                <select id="access-level" required>
                    <option value="admin">Administrador</option>
                    <option value="user">Usuário</option>
                </select>
            </div>

            <div>
                <button type="submit">Cadastrar</button>

                <br>
                <br>

                <button type="button" id="cancelButton">Cancelar</button>
            </div>                     
        </form>

        <script src="../public/js/login/register.js"></script>
        
    </div>
</body>
</html>