<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';">
    <title>Dito's System - Cadastro de Usuário</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../public/css/styleLogin.css">
</head>
<body> 
    
    <!-- Formulário de Cadastro -->
    <form id="registerForm">

        <!-- Título da página -->
        <h1>Cadastro de Usuário</h1>  

        <!-- Campo Nome de Usuário -->
        <div class="form-group">
            <input id="username" type="text" placeholder="Nome de usuário" required>
        </div>

        <!-- Campo Senha -->
        <div class="form-group">
            <input id="password" type="password" placeholder="Senha" required>
        </div>

        <!-- Campo Confirmar Senha -->
        <div class="form-group">
            <input id="confirm-password" type="password" placeholder="Confirme a senha" required>
        </div>

        <!-- Campo Nível de Acesso -->
        <div class="form-group">
            <select id="access-level" required>
                <option value="" disabled selected>Selecione o nível de acesso</option>
                <option value="admin">Administrador</option>
                <option value="user">Usuário</option>
            </select>
        </div>

        <!-- Botões -->
        <div class="form-actions">
            <button type="submit">Cadastrar</button>
            <button type="button" id="cancelButton">Cancelar</button>
        </div>                     
    </form>

    <!-- Scripts -->
    <script src="../public/js/renderer.js"></script>
    <script src="../public/js/login/register.js"></script>
</body>
</html>
