<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Dito's System</title>
    
</head>
<body>

    <!-- Processo de renderização-->
    <script src = "../public/js/renderer.js"></script>

    <h1>Cupom</h1>

    <div>
        <input type="text" id="couponCode" placeholder="Enter coupon code" />
        <button id="addCoupon">Add Coupon</button>
    </div>

    <ul id="couponList">
        <!-- Coupons will be dynamically added here -->
    </ul>

    <script src="../public/js/cupomManager.js"></script>
</body>
</html>