<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net;">

    <title>Dito's - Dashboard</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../public/css/styleDashboard.css">
</head>
<body>

    <!-- Botões de navegação -->
    <div>
        <button onclick="location.href='cupom.html'">Cupons</button>
        <button onclick="location.href='notificacao.html'">Notificações</button>
        <button onclick="location.href='editarUsuario.html'">Gerenciar Usuários</button>
        <button onclick="logout()">Sair</button> 
    </div> 

    <br>

    <!-- Título -->
    <h1>Dashboard</h1>

    <!-- Gráficos -->
    <div class="dashboard-container">
        <div class="chart-container">
            <h3>App Downloads</h3>
            <canvas id="downloadsChart"></canvas>
        </div>
        <div class="chart-container">
            <h3>App Retention</h3>
            <canvas id="retentionChart"></canvas>
        </div>
        <div class="chart-container">
            <h3>Coupon Usage</h3>
            <canvas id="couponChart"></canvas>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Carrega Chart.js -->
    <script src="../public/js/renderer.js"></script> <!-- Renderização -->
    <script src="../public/js/dashboard.js"></script> <!-- Dashboard -->
</body>
</html>
