<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Dito's System</title>

</head>
<body>

    <!-- Processo de renderização-->
    <script src = "../public/js/renderer.js"></script>

    <h1>Editar Usuário</h1>

    <!-- Tela de Gerenciamento de Contas -->
    <div id="manage-accounts-container" style="display:none;">
        <h2>Gerenciar Contas</h2>
        <ul id="user-list">
            <!-- Os usuários serão listados dinamicamente aqui -->
        </ul>
        <div id="edit-account-container" style="display:none;">
            <h3>Editar Conta</h3>
            <label for="edit-username">Usuário:</label>
            <input type="text" id="edit-username" placeholder="Novo nome de usuário" />
            <label for="edit-password">Senha:</label>
            <input type="password" id="edit-password" placeholder="Nova senha" />
            <button onclick="saveAccountChanges()">Salvar Alterações</button>
            <button onclick="cancelEditAccount()">Cancelar</button>
        </div>
    <button onclick="closeManageAccounts()">Fechar</button>

</body>
</html>