<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuários</title>
    <link rel="stylesheet" href="../public/css/styleUsuarioEdit.css">
</head>
<body>
    <div class="container">
        <h1>Gerenciamento de Usuários</h1>
        <button class="add-user-btn" onclick="window.location.href='cadastrarUsuario.html'">Cadastrar Novo Usuário</button>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Senha Atual</th>
                        <th>Nova Senha</th>
                        <th>Nível de Acesso</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="user-list">
                    <!-- Dados dinâmicos serão inseridos aqui -->
                </tbody>
            </table>
        </div>
        <a href="dashboard.html" class="back-btn">Voltar ao Dashboard</a>
    </div>

    <!-- Inclusão do script -->
    <script src="../public/js/login/editarUsuario.js"></script>
    <script src="../public/js/renderer.js"></script>
</body>
</html>