<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';">

    <title>Dito's System - Login</title>

    <!-- Link para o CSS -->
    <link rel="stylesheet" href="../public/css/styleLogin.css">

</head>

<body>

    <!-- Área principal -->
    <div class="image-container"></div>
    <div class="form-container">
        <form id="loginForm">
            <h1>Bem-vindo</h1>
            <input type="text" id="username" placeholder="Usuário" required>
            <input type="password" id="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <p>Esqueceu sua senha? <a href="#" onclick="alert('Função de recuperação em desenvolvimento.')">Recuperar</a></p>
        </form>
    </div>

    <!-- Tela de carregamento -->
    <div class="loading-screen">
        <img src="../public/img/ditosImg.png" alt="Carregando...">
    </div>

    <script src="../public/js/renderer.js"></script> <!-- Script externo -->
    <script src="../public/js/login/login.js"></script> <!-- Script externo -->
</body>

</html>