<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';">

    <title>Login - Dito's System</title>

</head>
<body>
    <!-- Processo de renderização -->
    <script src="../public/js/renderer.js"></script>

    <h1>Dito's Lanches</h1>

    <form id="loginForm">
        <div>
            <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
        </div>

        </div>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            
        </div>

        <div>
            <button type="submit">Entrar</button>
        </div>

        <div>
            <a href="#" onclick="esqueceuSenha()">Esqueceu sua senha?</a>
        </div>

        <div>
            <p>Não tem uma conta? <a href="cadastrarUsuario.html">Cadastre-se</a></p>
        </div>    
    </form>

    <script src="../public/js/login/login.js"></script>
</body>
</html>