<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';">

    <title>Dito's System - Login</title>

    <!-- Link para o CSS -->
    <link rel="stylesheet" href="../public/css/styleLogin.css">

</head>
</head>
<body>

    <!-- Área da imagem -->
    <div class="image-container"></div>

    <!-- Área do formulário -->
    <div class="form-container">
        <form id="loginForm">
            <h1>Dito's Lanches</h1>
            <div>
                <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <div>
                <button type="submit">Entrar</button>
            </div>
            <div>
                <p>Esqueceu sua senha? <a href="#">Recuperar</a></p>
            </div>  
        </form>
    </div>

    <!-- Tela de carregamento -->
    <div id="loadingScreen" class="loading-screen">
        <img src="../public/img/ditosImg.png" alt="Carregando..." />
    </div>

    <script src="../public/js/login/login.js"></script>

    <!-- Processo de renderização -->
    <script src="../public/js/renderer.js"></script>

</body>
</html>