<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Dito's - Gerenciamento de Notificações</title>

    <!-- Link para o CSS -->
    <link rel="stylesheet" href="../public/css/styleNotificacao.css">

</head>
<body>

    <!-- Processo de renderização -->
    <script src="../public/js/renderer.js"></script>

    <div class="main-container">

        <!-- Botão para voltar ao Dashboard -->
        <button class="back-button" onclick="window.location.href='dashboard.html'">Voltar ao Dashboard</button>

        <!-- Botão para cadastrar nova notificação -->
        <button class="add-notification-button" onclick="window.location.href='cadastrarNotificacao.html'">Cadastrar Notificação</button>
        
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Mensagem</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="notification-list">
                <!-- Notificações serão adicionadas dinamicamente -->
            </tbody>
        </table>
    </div>
    
    <script src="../public/js/notificacao.js"></script>
</body>
</html>
