<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Recuperar Acesso</h1>
  <form id="formularioRec">
    <div>
      <label for="email">Digite seu e-mail:</label>
      <input type="email" id="emailRec" name="emailRecuperacao" placeholder="Seu e-mail" required>
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>

  <div>
    <a href="index.html">Voltar para Login</a>
  </div>

  <script src="../public/js/login/recuperarAcesso.js"></script>
</body>

</html>